<footer class="bg-dark text-white pt-4 pb-4">
    <hr>

    <div class="row text-center text-md-left">

        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold">Contacto</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad repellat ipsam iure est odit? Ducimus assumenda in odio placeat officia. Cum qui vel nulla odio quae obcaecati quas ipsam accusamus.</p>
        </div>


        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold">Redes</h5>

            <div class="contredes">
                <i (click)="direccionarLinkedin()" class="fab fa-linkedin" id="linkedin"></i>
                <i (click)="direccionarInstagram()" class="fab fa-instagram-square" id="instagram"></i>   
                <i class="fab fa-facebook-square" id="face"></i>
            </div>  
        </div>

        <!-- <div class=" col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold text-warning">PRODUCTOS</h5>
        <p>
            <a href="#" class="text-white" style="text-decoration: none;">Más Cosas</a>
        </p>
        <p>
            <a href="#" class="text-white" style="text-decoration: none;">Más Cosas</a>
        </p>
        <p>
            <a href="#" class="text-white" style="text-decoration: none;">Más Cosas</a>
        </p>
        <p>
            <a href="#" class="text-white" style="text-decoration: none;">Más Cosas</a>
        </p>
        </div> -->

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weigth-bold">Contacto</h5>
            <p>
                <i class="fas fa-home mr-3"></i>Buenos Aires, AR
            </p>
            <p>
                <i class="fas fa-envelope mr-3"></i>agustin.trezza@gmail.com
            </p>
            <p>
                <i class="fas fa-phone mr-3">+</i>54 11 3236 8312
            </p>

        </div>
    </div>
</footer>
