
<!-- <h1 class="text-start titulo">Sobre Mí</h1> -->
<div>
    <h1 class=" text-start titulo">Sobre Mí</h1>
</div>

<div class="row container-fluid">
    
    <div class="contenidosobremi">

        <div id="carouselExampleFade" class="carousel slide carousel-fade col-5" data-bs-ride="carousel">
            
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../../assets/img/FotoPerfil.jpeg" class="d-block" alt="...">
              </div>

              <div class="carousel-item">
                <img src="../../../../assets/img/sobremi.jpeg" class="d-block" alt="...">
              </div>

              <div class="carousel-item">
                <img src="../../../../assets/img/tapadisco.jpeg" class="d-block" alt="...">
              </div>

              <!-- <div class="carousel-item">
                <img src="../../../../assets/img/perfilpensando.jpeg" class="d-block" alt="...">
              </div> -->

              <div class="carousel-item">
                <img src="../../../../assets/img/costadeleste.jpeg" class="d-block" alt="...">
              </div>
            
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
          </div>
        
        <!-- <img class="col-4 mat-card"src="../../../../assets/img/sobremi.jpeg" alt="" id="imgsobremi"> -->
        <div class="contenedortecnologias">
            <p class="col-12 textosobremi">HTML5, CSS3, Javascript, Angular, GIT, Node, Photoshop. Me gusta mucho el diseño y la programación. Soy muy responsable, me comprometo y esfuerzo por cumplir los objetivos. Tengo buen trato y relaciones interpersonales, creo en el trabajo en equipo y la comunicación como claves y bases para un buen desarrollo tanto en lo profesional como en lo humano.
                Tengo mucha disposición para aprender y adaptarme. Busco en mis trabajos encontrar la mejor manera de ser funcional y positivo para la realización de mis tareas y cumplimiento de objetivos. Desarrollo, soporte y mantenimiento de sitios web con Wordpress. Sistema de tienda, ventas y cobros en línea. </p>
                <div class="tecnologiamacro">
                    <div class="tecnologias mt-3" id="tecnologias">
                        <i class="fab fa-js"></i>
                        <i class="fab fa-html5"></i>
                        <i class="fab fa-css3-alt"></i>
                        <i class="fab fa-angular"></i>
                        <i class="fab fa-github"></i>
                        <i class="fab fa-wordpress-simple"></i>
                        <i class="fab fa-node"></i>
                        <i class="fab fa-react"></i>    
                    </div>
                </div>
        </div>

    </div>
</div>
