<div class="sidenav">
    <div class="logo">
        <a href="/" class="simple-text logo-mini">
            <div class="logo-mini">
                <i class="fa-brands fa-angular" style="outline: none;"></i>
                <!-- <img src="../../../assets/img/angular-brands.png" alt="angular-logo"> -->
            </div>
        </a>
        <a href="/" class="simple-text logo-normal">
            MENÚ
        </a>
    </div>
    <ul class="nav">
        <li class="active"><a routerLink="/mis-proyectos"><i class="fa-solid fa-screwdriver-wrench"></i>Mis Proyectos</a></li>
        <li class="active"><a routerLink="/sobremi"><i class="fa-solid fa-book-open"></i>SOBRE MÍ</a></li>
        <li class="active"><a routerLink="/info"><i class="fa-solid fa-file-contract"></i>CV Y CERTIFICADOS</a></li> 
        <li style="visibility: hidden;">.</li> 
        <li style="visibility: hidden;">.</li> 
        <li style="visibility: hidden;">.</li>
        <li style="visibility: hidden;">.</li>
        <li style="visibility: hidden;">.</li>

    </ul>
</div>
