
<div class="container-fluid row">
    <!-- <h1>Mis Proyectos</h1> -->
    <div>
        <h1 class="contenidosobremi text-start titulo">Mis Proyectos</h1>
    </div>

    <mat-card class="card-paginas col-4">
        <mat-card-title-group>
          <mat-card-title>Páginas</mat-card-title>
          <mat-card-subtitle>Algunos sitios y diseños que fui realizando.</mat-card-subtitle>
          <img mat-card-sm-image src="../../../../assets/img/paginas.png">
        </mat-card-title-group>
        <mat-card-content>
            <div class="contenlaces">
                <li><a href="https://agustintrezza12.netlify.app" class="clase" target="_blank">Tipo AirBnB</a></li>
                <li><a href="https://agustintrezza6.netlify.app" class="clase" target="_blank">Bienes Raices</a></li>
                <li><a href="https://agustintrezza5.netlify.app" class="clase" target="_blank">Seleccion de servicios con JavaScript</a></li>
                <li><a href="https://agustintrezza4.netlify.app" class="clase" target="_blank">Festival de Bandas</a></li>
                <li><a href="https://agustintrezza7.netlify.app" class="clase" target="_blank">Formulario tipo Netflix</a></li>
            </div>
        </mat-card-content>
        <!-- <div>
            <button mat-mini-fab aria-label="Example icon-button with a heart icon">
                <mat-icon>link</mat-icon>
              </button>
        </div> -->
        
        <mat-card-actions (click)="function()">VISITAR SITIO COMPLETO</mat-card-actions>
      </mat-card>

      <mat-card class="card-paginas col-4">
        <mat-card-title-group>
          <mat-card-title>WordPress</mat-card-title>
          <mat-card-subtitle>Tiendas Virtuales, Woocommerce, sistema de pagos.</mat-card-subtitle>
          <img mat-card-sm-image src="../../../../assets/img/wordpress.png">
        </mat-card-title-group>
        <mat-card-content>
            <div class="contenlaces">
                <li><a href="https://doblerueda.online" class="clase" target="_blank">Sitio DobleRueda</a></li>
                <li><a href="https://agustintrezza.online" class="clase" target="_blank">Sitio Wordpress</a></li>
            </div>
        </mat-card-content>
        
        <mat-card-actions (click)="function()">VISITAR SITIO COMPLETO</mat-card-actions>
      </mat-card>

      <mat-card class="card-paginas col-4">
        <mat-card-title-group>
          <mat-card-title>Angular</mat-card-title>
          <mat-card-subtitle>Typescript, Material, Bootstrap</mat-card-subtitle>
          <img mat-card-sm-image src="../../../../assets/img/paginas.png">
        </mat-card-title-group>
        <mat-card-content>
            <div class="contenlaces">
                <li><a href="https://informes.verifica.com.ar" class="clase" target="_blank">Verifica</a></li>
                <li><a href="#" class="clase" target="_blank">Sitio Actual</a></li>

            </div>
        </mat-card-content>
        <mat-card-actions (click)="function()">VISITAR SITIO COMPLETO</mat-card-actions>
      </mat-card>

      <mat-card class="card-paginas col-4">
        <mat-card-title-group>
          <mat-card-title>JavaScript con APIS</mat-card-title>
          <mat-card-subtitle>Consultas a APIs</mat-card-subtitle>
          <img mat-card-sm-image src="../../../../assets/img/CRIPTOMONEDAS.png">
        </mat-card-title-group>
        <mat-card-content>
            <div class="contenlaces">
                <li><a href="https://agustrezza-criptojs.netlify.app/" class="clase" target="_blank">Consulta Criptomondedas</a></li>
                <li><a href="https://agustrezza-climajs.netlify.app/" class="clase" target="_blank">Consulta el clima</a></li>
                <li><a href="https://agustrezza-pixabayjs.netlify.app/" class="clase" target="_blank">Buscador de imágenes</a></li>
            </div>
        </mat-card-content>
        <mat-card-actions (click)="function()">VISITAR SITIO COMPLETO</mat-card-actions>
      </mat-card>

      <mat-card class="card-paginas col-4">
        <mat-card-title-group>
          <mat-card-title>JavaScript</mat-card-title>
          <mat-card-subtitle>Proyectos más enfocados en JS.</mat-card-subtitle>
          <img mat-card-sm-image src="../../../../assets/img/peluqueria.png">
        </mat-card-title-group>
        <mat-card-content>
            <div class="contenlaces">
                <li><a href="https://agustrezza-carritojs.netlify.app" class="clase" target="_blank">Carrito de Compras</a></li>
                <li><a href="https://agustrezza-admingastosjs.netlify.app" class="clase" target="_blank">Administrador de Gastos</a></li>
                <li><a href="https://agustrezza-todojs.netlify.app" class="clase" target="_blank">Lista de comentarios con LocalStorage</a></li>
                <li><a href="https://agustrezza-carritojs.netlify.app" class="clase" target="_blank">Carrito de Compras</a></li>
                <li><a href="https://agustrezza-buscadorjs.netlify.app" class="clase" target="_blank">Buscador</a></li>
                <li><a href="https://agustrezza-cotizadorjs.netlify.app" class="clase" target="_blank">Cotizador</a></li>
            </div>
        </mat-card-content>
        <mat-card-actions (click)="function()">VISITAR SITIO COMPLETO</mat-card-actions>
      </mat-card>

      <mat-card class="card-paginas col-4">
        <mat-card-title-group>
          <mat-card-title>React</mat-card-title>
          <mat-card-subtitle>Algunas funcionalidades utilizando React.</mat-card-subtitle>
          <img mat-card-sm-image src="../../../../assets/img/noticias.png">
        </mat-card-title-group>
        <mat-card-content>
            <div class="contenlaces">
                <li><a href="https://reactportaldenoticias.netlify.app/" class="clase" target="_blank">Portal de Noticias</a></li>
                <li><a href="https://admindeturnosreact.netlify.app/" class="clase" target="_blank">Administrador de Pacientes</a></li>
                <li><a href="https://reactragosapi.netlify.app/" class="clase" target="_blank">Aplicación de Bebidas</a></li>
            </div>
        </mat-card-content>
        <mat-card-actions (click)="function()">VISITAR SITIO COMPLETO</mat-card-actions>
      </mat-card>
    

</div>




<!-- <div class="contenedorpaginas">
    <div class="row align-items-start">

        <div class="card-header six-columns col-4">
            <div>
                <h2 class="titulopaginas">Páginas</h2>
                <div class="contenlaces">
                    <a href="https://agustintrezza12.netlify.app" class="clase" target="_blank">Tipo AirBnB</a>
                    <a href="https://agustintrezza6.netlify.app" class="clase" target="_blank">Bienes Raices</a>
                    <a href="https://agustintrezza5.netlify.app" class="clase" target="_blank">Seleccion de servicios con JavaScript</a>
                    <a href="https://agustintrezza4.netlify.app" class="clase" target="_blank">Festival de Bandas</a>
                    <a href="https://agustintrezza7.netlify.app" class="clase" target="_blank">Formulario tipo Netflix</a>
                </div>
            </div>         
        </div>

        <div class="six-columns col-4">
            <div>
                <h2 class="titulopaginas">Tiendas Virtuales</h2>

                <div class="contenlaces">
                    <a href="https://doblerueda.online" class="clase" target="_blank">Sitio DobleRueda</a>
                    <a href="https://agustintrezza.online" class="clase" target="_blank">Sitio Wordpress</a>
                </div> 
            </div>
            
        </div>
        <div class="six-columns col-4">
            <div>
                <h2 class="titulopaginas">Angular</h2>
                <div class="contenlaces">
                    <a href="https://informes.verifica.com.ar" class="clase" target="_blank">Verifica</a>
                </div>
            </div>
            
        </div>

        <div class="six-columns col-4">
            
            <h2 class="titulopaginas">Proyectos JavaScript con APIS</h2>
            <div class="contenlaces">
                <a href="https://agustrezza-criptojs.netlify.app/" class="clase" target="_blank">Consulta Criptomondedas</a>
                <a href="https://agustrezza-climajs.netlify.app/" class="clase" target="_blank">Consulta el clima</a>
                <a href="https://agustrezza-pixabayjs.netlify.app/" class="clase" target="_blank">Buscador de imágenes</a>
            </div>
        </div>
        <div class="six-columns col-4">
            <h2 class="titulopaginas">Proyectos con JavaScript</h2>
            <div class="contenlaces">
                <a href="https://agustrezza-carritojs.netlify.app" class="clase" target="_blank">Carrito de Compras</a>
                <a href="https://agustrezza-admingastosjs.netlify.app" class="clase" target="_blank">Administrador de Gastos</a>
                <a href="https://agustrezza-todojs.netlify.app" class="clase" target="_blank">Lista de comentarios con LocalStorage</a>
                <a href="https://agustrezza-carritojs.netlify.app" class="clase" target="_blank">Carrito de Compras</a>
                <a href="https://agustrezza-buscadorjs.netlify.app" class="clase" target="_blank">Buscador</a>
                <a href="https://agustrezza-cotizadorjs.netlify.app" class="clase" target="_blank">Cotizador</a> 
            </div>       
        </div>

        <div class="six-columns col-4">
            <div>
                <h2 class="titulopaginas"> Proyectos con React</h2>
                <div class="contenlaces">
                    <a href="https://reactportaldenoticias.netlify.app/" class="clase" target="_blank">Portal de Noticias</a>
                    <a href="https://admindeturnosreact.netlify.app/" class="clase" target="_blank">Administrador de Pacientes</a>
                    <a href="https://reactragosapi.netlify.app/" class="clase" target="_blank">Aplicación de Bebidas</a>
                </div>
            </div>
        </div>
        
    </div>
</div> -->


